<div class="panel panel-default">
    <div class="panel-heading">
        <h1>List of Employees</h1>     
    </div>  
    <div class="panel-body">
        <div class="row row-cols-1 row-cols-md-3" >
            <div class="col mb-4" *ngFor="let employee of employees | async">
            <div class="card">
                <img src="assets/img/logo.png" class="card-img-top img-fluid"  alt="Responsive image" style="width: 300px; height: 200px;">
                <div class="card-body">
                <h5 class="card-title">Name: {{employee.firstName}}  {{employee.lastName}}</h5>
                
                <h6>Email: {{employee.emailId}}</h6>
                <button  (click)="deleteEmployee(employee.id)" class="btn btn-dark">Delete</button>
                <button (click)="updateEmployee(employee.id)" style="margin-left: 10px;"class="btn btn-primary">Update</button>
                <button (click)="employeeDetails(employee.id)" style="margin-left: 10px;" class="btn btn-info">Details</button>
                
                </div>
            </div>
            </div>
        </div>
    <div>