
    <h2>Employee Details</h2> 

    <hr/>
    <div *ngIf="employee">
      <div>
        <label><b>First Name: </b></label> {{employee.firstName}}
      </div>
      <div>
        <label><b>Last Name: </b></label> {{employee.lastName}}
      </div>
      <div>
        <label><b>Employee ID: </b></label> {{employee.id}}
      </div>
      <div>
        <label><b>Sex: </b></label> {{employee.sex}}
      </div>
      <div>
        <label><b>Birth Date: </b></label> {{employee.birthDate}}
      </div>
      <div>
        <label><b>Email : </b></label> {{employee.emailId}}
      </div>  
      <div>
        <label><b>Department : </b></label> {{employee.department}}
      </div>  
    </div>
    
    <br>
    <br>
    
    <button (click)="deleteEmployee(employee.id)"  class="btn btn-dark">Delete</button>
    <button (click)="list()" class="btn btn-primary" style="margin-left: 10px;">Back ..</button>             
